@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Concert+One&family=Nunito:wght@300&display=swap');
@media only screen and (min-width: 960px) {
    header {
        background-color: rgb(131, 172, 138);
        position: sticky;
        top: 0;
    }
    .logo{
        width: 7vw;
        height: 7vw;
    }
    .navbar li {
        float: left;
        color: rgb(134, 66, 197);
        font-weight: 300;
        font-size: 2vw;
        text-align: center;
        list-style-type: none;
        margin: 1.5vw;
    }
    .navbar {
        margin: 0.5vw;
    }
    nav {
        font-family: "Nunito", sans-serif;
        background-color: rgb(131, 172, 138);
        float: right;
        text-decoration: none;
        padding: 0;
        clear: both;
    }
}

@media screen and (max-width:960px) {
    header {
        background-color: rgb(131, 172, 138);
        position: sticky;
        top: 0;
    }
    .logo{
        width: 8vw;
        height: 8vw;
    }
    .navbar {
        margin: 0 2vw;
        padding: 0;
    }
    .navbar li {
        display: block;
        color: rgb(134, 66, 197);
        font-weight: 300;
        font-size: 2vw;
        text-align: right;
        list-style-type: none;
    }
    nav {
        font-family: "Nunito", sans-serif;
        background-color: rgb(131, 172, 138);
        float: right;
        text-decoration: none;
        padding: 0;
        clear: both;
    }
}



body {
    color: rgb(100, 49, 148);
    background-color: rgb(92, 136, 100);
}
main {
    background-color: rgb(171, 214, 179);
    margin: 5vw;
    padding: 2vw;
}
h1 {
    font-family: "Concert One", sans-serif;
    text-align: center;
    font-size: 4vw;
    margin: 2vw;
}
.category {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.category li {
    font-family: "Baloo 2", sans-serif;
    color:  rgb(134, 66, 197);
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 1.5vw;
    white-space: nowrap;
}
.footer {
    display: flex;
    background-color: rgb(171, 214, 179);
    font-family: "Nunito", sans-serif;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    margin: 2vw;
    font-weight: 300;
    font-size: 1.5vw;
}
.footer li {
    margin: 2vw;
    font-weight: 300;
    font-size: 1.5vw;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: rgb(141, 70, 207) ;
    text-decoration: underline;
}